$navbar-height-stadard: 64px !default;
$navbar-height-dense: 48px !default;
$navbar-height-prominent: 128px !default;

.navbar {
  background: $theme-primary;
  color: $color-on-primary;
  z-index: 5;

  &__section {
    display: inline-flex;
    flex: 1 1 auto;
    align-items: center;
    padding: 8px 12px;
    z-index: 1;
  }

  a {
    color: $color-on-primary;
    text-decoration: none;
  }

  .icon {
    color: $color-on-primary;
    fill: $color-on-primary;
  }

  &--fixed {
    position: fixed;
    width: 100%;
  }

  &--standard,
  &--dense,
  &--prominent {
    .navbar__container {
      display: flex;
      width: 100%;
    }
  }

  &--standard {
    .navbar__container {
      height: $navbar-height-stadard;
    }
  }

  &--dense {
    .navbar__container {
      height: $navbar-height-dense;
    }

    .navbar__section {
      padding: 0 12px;
    }
  }

  &--prominent {
    .navbar__container {
      height: $navbar-height-prominent;
    }
  }

  &--light {
    background: $color-bg-body;
    color: $theme-primary;

    a {
      color: $theme-primary;
    }

    .icon {
      color: $theme-primary;
      fill: $theme-primary;
    }
  }

  &--dark {
    background: $color-bg-dark;
    color: $color-text-light;

    a {
      color: $color-text-light;
    }

    .icon {
      color: $color-text-light;
      fill: $color-text-light;
    }
  }

  &--secondary {
    background: $theme-secondary;
    color: $color-on-secondary;

    a {
      color: $color-on-secondary;
    }

    .icon {
      color: $color-on-secondary;
      fill: $color-on-secondary;
    }
  }

  @include media-breakpoint-down($sm) {
    &__section {
      padding: 4px;
    }

    &--dense {
      .navbar__section {
        padding: 0 4px;
      }
    }
  }
}

.navbar-item {
  margin-left: 12px;
  margin-right: 12px;

  // Items alignment
  // Dafault if left
  //
  // Center
  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  // Right, should be added only to the first item of right aligned group
  // If first item is different per breakpoint, class should be added to all such items
  &--right {
    margin-left: auto;
  }
}

@include media-breakpoint-up($sm) {
  .navbar-item--right.visible-sm + .navbar-item--right,
  .navbar-item--right.visible-sm-flex + .navbar-item--right,
  .navbar-item--right.visible-sm-inline + .navbar-item--right {
    margin-left: 0;
  }

  .navbar-item--right.visible-sm + .navbar-item.navbar-item--right,
  .navbar-item--right.visible-sm-flex + .navbar-item.navbar-item--right,
  .navbar-item--right.visible-sm-inline + .navbar-item.navbar-item--right {
    margin-left: 12px;
  }
}

@include media-breakpoint-up($md) {
  .navbar-item--right.visible-md + .navbar-item--right,
  .navbar-item--right.visible-md-flex + .navbar-item--right,
  .navbar-item--right.visible-md-inline + .navbar-item--right {
    margin-left: 0;
  }

  .navbar-item--right.visible-md + .navbar-item.navbar-item--right,
  .navbar-item--right.visible-md-flex + .navbar-item.navbar-item--right,
  .navbar-item--right.visible-md-inline + .navbar-item.navbar-item--right {
    margin-left: 12px;
  }
}

@include media-breakpoint-up($lg) {
  .navbar-item--right.visible-lg + .navbar-item--right,
  .navbar-item--right.visible-lg-flex + .navbar-item--right,
  .navbar-item--right.visible-lg-inline + .navbar-item--right {
    margin-left: 0;
  }

  .navbar-item--right.visible-lg + .navbar-item.navbar-item--right,
  .navbar-item--right.visible-lg-flex + .navbar-item.navbar-item--right,
  .navbar-item--right.visible-lg-inline + .navbar-item.navbar-item--right, {
    margin-left: 12px;
  }
}

.page-navbar-adjust--fixed {
  &.page-navbar-adjust--standard {
    padding-top: $navbar-height-stadard;
  }

  &.page-navbar-adjust--dense {
    padding-top: $navbar-height-dense;
  }

  &.page-navbar-adjust--prominent {
    padding-top: $navbar-height-prominent;
  }
}
