$color-bg-password-strength: #ebeae4 !default;
$color-bg-password-strength-weak: #e62600 !default;
$color-bg-password-strength-fair: #e09600 !default;
$color-bg-password-strength-good: #0074bd !default;
$color-bg-password-strength-strong: #77b259 !default;
$color-text-password-match-ok: #325e1c !default;
$color-text-password-match-error: #a51b00 !default;

// Visual styling for the Password strength indicator.
.password-strength {
  margin: $spacing * 2 0;

  &__meter {
    background-color: $color-bg-password-strength;
    margin-bottom: $spacing;
  }

  &__indicator {
    transition: width 0.5s ease-out;
    background-color: $color-bg-password-strength-strong;

    &.is-weak {
      background-color: $color-bg-password-strength-weak;
    }

    &.is-fair {
      background-color: $color-bg-password-strength-fair;
    }

    &.is-good {
      background-color: $color-bg-password-strength-good;
    }

    &.is-strong {
      background-color: $color-bg-password-strength-strong;
    }
  }
}

.password-suggestions {
  margin: $spacing 0;
  padding: $spacing * 1.5 $spacing * 2;
  border: 1px solid $color-border;
}

// Styling for the status indicator of the passwords match test.
.password-confirm-message {
  margin: $spacing * 2 0;

  &.is-hidden {
    margin: 0;
  }

  .ok {
    color: $color-text-password-match-ok;
    font-weight: bold;
  }

  .error {
    color: $color-text-password-match-error;
    font-weight: bold;
  }
}
