.style-guide {
  &__example-block {
    background: darken($color-bg-body, 8);
    margin-bottom: $spacing * 2;
    padding: $spacing * 1.5 $spacing * 2;
  }

  &__example-color {
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: $spacing;
  }

  &__section {
    margin-bottom: $spacing * 8;
  }

  &__section + &__section {
    padding-top: $spacing * 8;
    border-top: 1px solid darken($color-bg-body, 20);
  }

  &__section-title {
    margin-bottom: $spacing * 4;
    font-size: 1.5rem;
    font-weight: 500;
  }

  &__section-subtitle {
    margin-top: $spacing * 4;
    margin-bottom: $spacing * 3;
    font-size: 1.25rem;
    font-weight: 500;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: $spacing * -1;
    margin-right: $spacing * -1;

    &--stacked {
      flex-direction: column;
    }

    &--v-centered {
      align-items: center;
    }
  }

  &__item {
    margin: $spacing * 0.75 $spacing;

    .icon {
      display: block;
    }

    &--bg-dark {
      background: $color-bg-dark;
    }

    &--bg-primary {
      background: $theme-primary;
    }
  }

  &__card-container {
    max-width: $ms;
  }

  &__accordion {
    .mb-accordion__section {
      border: 1px solid darken($color-bg-body, 10);
    }

    .mb-accordion__section + .mb-accordion__section {
      border-top: 0;
    }

    .mb-accordion__section-toggle {
      padding: ($spacing * 2) - 1;
    }

    .mb-accordion__section-panel {
      padding: ($spacing * 2) - 1;
      background: darken($color-bg-body, 8);
      border-top: 1px solid darken($color-bg-body, 10);
    }
  }

  &__dropdown {
    .mb-dropdown__panel {
      padding: $spacing * 2;
      border-radius: 4px;
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12); // MDC z2
    }
  }
}
