.text-list {
  margin-top: $spacing * 2;
  margin-bottom: $spacing * 2;
  padding-left: 40px;

  li + li {
    margin-top: $spacing;
  }

  &--unstyled {
    list-style: none;
    padding-left: 0;
  }

  &--bulleted {
    list-style: none;
    padding-left: 40px;

    li {
      position: relative;

      &:before {
        display: block;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: $theme-primary;
        position: absolute;
        margin-left: $spacing * -2.5;
        margin-top: $spacing;
      }
    }
  }

  &--iconed {
    list-style: none;
    padding-left: 0;

    li {
      display: flex;
      line-height: 24px;
    }

    .icon {
      margin-right: $spacing;
      margin-left: $spacing;
    }
  }
}
