@use "@material/button";

.button {
  &.mdc-button--outlined {
    @include button.outline-color($theme-primary);
  }

  &--secondary {
    &.mdc-button {
      @include button.ink-color($theme-secondary);

      .mdc-button__ripple:before,
      .mdc-button__ripple:after {
        background: $theme-secondary;
      }
    }

    &.mdc-button--outlined {
      @include button.outline-color($theme-secondary);
    }

    &.mdc-button--unelevated,
    &.mdc-button--raised {
      @include button.ink-color($color-on-secondary);
      @include button.container-fill-color($theme-secondary);
    }
  }

  &--light {
    &.mdc-button {
      @include button.ink-color($color-text-light);

      .mdc-button__ripple:before,
      .mdc-button__ripple:after {
        background: $color-text-light;
      }
    }
    
    &.mdc-button--outlined {
      @include button.ink-color($color-text-light);
      @include button.outline-color($color-text-light);

      .mdc-button__ripple:before,
      .mdc-button__ripple:after {
        background: $color-text-light;
      }
    }

    &.mdc-button--unelevated,
    &.mdc-button--raised {
      @include button.container-fill-color($color-text-light);
      @include button.ink-color($theme-primary);

      .mdc-button__ripple:before,
      .mdc-button__ripple:after {
        background: $theme-primary;
      }
    }
  }
}
